// Responsive breakpoints
$tablet: 600px;
$desktop: 1000px;

// Colors
$bg-color: #fbfbfb;
$element-light: #7477bf;
$element-med: #81c98f;
$element-dark: #4d4c72;

// Typography
body {
  font-family: 'Open Sans', sans-serif;
  color: #555;
}