.chart-container {
  padding: 1em;
  border-bottom: solid 1px #ccc;
}

.visitors-container {
  margin-top: 1em;
}

.traffic-container {
  border-right: solid 1px #ccc;
}

.traffic-container,
.mobile-users-container {
  @media screen and (min-width: $desktop) {
    width: 50%;
    float: left;
  }
}

// Specific charts

#chart-visitors {
  //width: 400px;
  //height: 800px;
}