.grid-container {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: $tablet) {
    display: block;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.align-horizontal {
  align-items: center;
}