.header-flex {
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  float: left;
}

.status {
  float: right;
}

#profile .name {
  display: none;
  @media screen and (min-width: $tablet) {
    width: 150px;
    display: block;
    margin-top: 0.2em;
    margin-left: 0.5em;
    float: right;
  }
}

.header-icon {
  width: 2em;
  margin: 0 0.25em;
  display: inline;
  float: left;
}

.avatar {
  border-radius: 50%;
}

#notifications,
#profile {
  float: left;
  padding: 0.5em 1em;
}

#notifications {
  border-right: solid 1px $element-dark;
  position: relative;
}

#notifcations-box {
  display: none;
  width: 400px;
  //height: 100px;
  background-color: $element-dark;
  position: absolute;
  top: 60px;
  left: -165px;
  z-index: 1;
  border-radius: 5px;
  padding: 1em;
}

#notifcations-box p {
  margin: 0;
}

#notifcations-box::before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  transform: rotate(45deg);
  top: -6px;
  left: 194px;
  background-color: $element-dark;
}

#notifications-alert {
  width: 10px;
  height: 10px;
  background-color: $element-med;
  border-radius: 50%;
  float: right;
}