body, html {
  height: 100%;
  width: 100%;
}

body {
  background-color: $bg-color;
}

#header-bar {
  width: 100%;
  height: 5em;
  padding: 1em;
  background-color: $element-light;
  color: white;
}

#nav-bar {
  display: block;
  float: left;
  width: 10%;
  height: 100%;
  padding: 5px;
  background-color: $element-dark;
  color: white;
  text-align: center;
}

.content-container {
  display: block;
  float: left;
  height: 100%;
  width: 90%;
  margin-top: 2em;
  padding: 1em;
  background-color: #FFFFFF;
  border-top: solid 1px gray;
  position: relative;
}

.tab {
  height: 2em;
  position: absolute;
  top: -2em;
  left: 0em;
  border-right: solid 1px gray;
  background-color: #ffffff;
  padding: 0.5em;
}

.alert {
  background-color: $element-light;
  color: #fff;
  padding: 1em;
  border-radius: 0.25em;
}

.alert-content {
  width: 90%;
  float: left;
}

.alert-buttons {
  width: 10%;
  float: right;
  //background-color: red;
}

#alert-dismiss {
  padding: 0;
  border: 0;
  background-color: transparent;
  float: right;
  width: 2em;
  font-weight: bold;
}