body, html {
  height: 100%;
  width: 100%;
}

body {
  background-color: $bg-color;
}

#header-bar {
  width: 100%;
  height: 5em;
  padding: 1em;
  background-color: $element-light;
  color: white;
  position: fixed;
  z-index: 3;
}

#nav-bar {
  display: block;
  margin-top: 5em;
  float: left;
  width: 15%;
  height: 100%;
  padding: 5px;
  background-color: $element-dark;
  color: white;
  text-align: center;
  position: fixed;
  z-index: 1;
  @media screen and (min-width: $tablet) {
    width: 10%;
  }
  @media screen and (min-width: $desktop) {
    width: 5%;
  }
}

.content-container {
  display: block;
  float: left;
  width: 85%;
  margin-left: 15%;
  margin-top: 10em;
  padding: 1em;
  background-color: #FFFFFF;
  border-top: solid 1px #ccc;
  position: relative;
  @media screen and (min-width: $tablet) {
    width: 90%;
    margin-left: 10%;
  }
  @media screen and (min-width: $desktop) {
    width: 95%;
    margin-left: 5%;
  }
}

#content-container-inner {
  max-width: 1200px;
  margin: 0 auto;
}

.tab {
  height: 5em;
  position: absolute;
  top: -5em;
  left: 0em;
  border-right: solid 1px #ccc;
  background-color: #ffffff;
  padding: 0 2em 0 1em;
  h2 {
    margin-top: 1em;
    font-weight: normal;
  }
}

.alert {
  background-color: $element-light;
  color: #fff;
  padding: 1em;
  border-radius: 0.25em;
}

.alert-content {
  width: 90%;
  float: left;
  p {
    margin: 0;
  }
}

.alert-buttons {
  width: 10%;
  float: right;
  //background-color: red;
}

#alert-dismiss {
  padding: 0;
  border: 0;
  background-color: transparent;
  float: right;
  width: 2em;
  font-weight: bold;
}

#message-container,
#settings-container {
  width: 100%;
  float: left;
  @media screen and (min-width: $desktop) {
    width: 50%;
  }
}

.section-title {

  p {
    margin-top: 4px;
  }
  @media screen and (min-width: $tablet) {
    float: left;
  }
}

.buttons-container {

}